<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>FruitNinjGame</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fruitNinja.css') }}">
</head>
<body>
    <button id="homeButton" onclick="window.location.href='{{ t_home }}'">Home Page</button>
    <div class="game-info">
        <div class="score">Score: <span id="score">0</span></div>
        <div id="healthContainer">
            <div id="healthBar"></div>
        </div>
    </div>
    <canvas id="gameCanvas" width="800" height="600"></canvas>
    
    <script src="{{ url_for('static', filename='js/fruitNinja.js') }}"></script>
</body>
</html>
