<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>2048 Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/2048.css') }}">
</head>
<body>
    <button id="homeButton" onclick="window.location.href='{{ t_home }}'">Home Page</button>
    <div class="game-container">
        <div class="header">
            <h1>2048</h1>
            <div class="score-container">
                Score: <span id="score">0</span>
            </div>
        </div>
        <div class="grid" id="grid"></div>
    </div>

    <script src="{{ url_for('static', filename='js/2048.js') }}"></script>
</body>
</html>
